---
- name: Ensure curl is installed (Linux)
  package:
    name: curl
    state: present

- name: Check if Elastic Agent service exists (Linux)
  stat:
    path: "/etc/systemd/system/elastic-agent.service"
  register: agent_service

- name: Uninstall Elastic Agent (Linux)
  command: >
    /opt/Elastic/Agent/elastic-agent uninstall --force
  when: agent_service.stat.exists

- name: Create install directory (Linux)
  file:
    path: "{{ install_dir }}"
    state: directory
    mode: '0755'

- name: Download locally Elastic Agent ZIP (Linux)
  get_url:
    url: "https://artifacts.elastic.co/downloads/beats/elastic-agent/elastic-agent-{{ elastic_agent_version }}-linux-x86_64.tar.gz"
    dest: "/tmp/elastic-agent.tar.gz"
    mode: '0644'
  delegate_to: localhost
  run_once: true
- name: Copia il pacchetto giusto sul target
  copy:
    src: "/tmp/elastic-agent.tar.gz"
    dest: "/tmp/elastic-agent.tar.gz"

#- name: Download locally Elastic Agent ZIP (Linux)
#  get_url:
#    url: "https://artifacts.elastic.co/downloads/beats/elastic-agent/elastic-agent-{{ elastic_agent_version }}-linux-x86_64.tar.gz"
#    dest: "/tmp/elastic-agent.tar.gz"
#    mode: '0644'

- name: Extract Elastic Agent (Linux)
  unarchive:
    src: "/tmp/elastic-agent.tar.gz"
    dest: "{{ install_dir }}"
    remote_src: yes

- name: Install Elastic Agent as systemd service (Linux)
  command: >
    {{ install_dir }}/elastic-agent-{{ elastic_agent_version }}-linux-x86_64/elastic-agent install
      --fleet-server-es={{ elastic_url }}
      --fleet-server-service-token={{ fleet_server_service_token }}
      --fleet-server-policy={{ fleet_server_policy }}
      --fleet-server-port= {{ fleet_server_port }}
      --fleet-server-es-ca-trusted-fingerprint={{ fleet_server_es_ca_trusted_fingerprint }}      
  args:
    creates: "/etc/systemd/system/elastic-agent.service"
  when: not insecure

- name: Install Elastic Agent as systemd service (Linux)
  command: >
    {{ install_dir }}/elastic-agent-{{ elastic_agent_version }}-linux-x86_64/elastic-agent install
      --fleet-server-es={{ elastic_url }}
      --fleet-server-service-token={{ fleet_server_service_token }}
      --fleet-server-policy={{ fleet_server_policy }}
      --fleet-server-port= {{ fleet_server_port }}
      --fleet-server-es-insecure
  args:
    creates: "/etc/systemd/system/elastic-agent.service"
  when: insecure

- name: Delete locally Elastic Agent TAR.GZ after extraction (Linux)
  delegate_to: localhost
  run_once: true
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - "/tmp/elastic-agent.tar.gz"

- name: Delete Elastic Agent tar.gz and install directory after installation (Linux)
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - /tmp/elastic-agent.tar.gz
    - "{{ install_dir }}/elastic-agent-{{ elastic_agent_version }}-linux-x86_64"

- name: Ensure Elastic Agent service is started and enabled (Linux)
  systemd:
    name: elastic-agent
    state: started
    enabled: yes
