---
- name: reload systemd configuration
  become: yes
  systemd:
    daemon_reload: yes

# Restart service and ensure it is enabled
- name: restart kibana
  listen: restart kibana
  service:
    name: "kibana"
    state: restarted
    enabled: yes

# wait that kibana is up
- name: Wait for kibana to startup
  listen: restart kibana
  wait_for:
    host: "{{ ansible_default_ipv4.address }}"
    port: "{{ kibana_port }}"
    delay: 5
    connect_timeout: 1